/* * {
  border: 1px solid red;
} */

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Kumbh Sans", sans-serif;
  font-size: 12px;
  background: rgb(175, 103, 233);
  background: linear-gradient(
    180deg,
    rgba(175, 103, 233, 1) 0%,
    rgba(101, 101, 231, 1) 100%
  );
}

main {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 100px;
}

h1 {
  font-size: 2.2rem;
  margin-top: 0px;
}

h3 {
  font-weight: 400;
}

p {
  font-size: 1rem;
}


footer {
  position: absolute;
  bottom: 0;
  margin-bottom: 10px;
}

.active > .answer {
  display: block;
  padding-bottom: 1.3rem;
  color: var(--dark-gray-blue);
  padding: 0;
}

.active img {
  transform: rotate(180deg);
  transition: all 0.2s ease-in;
}

.active h3 {
  font-weight: 700;
}

.active p {
  margin-top: 0;
}

.box {
  position: relative;
  top: 45px;
  left: 0px;
  z-index: 2;
}

.card__container {
  position: relative;
  display: grid;
  grid-template-columns: 400px 1fr;
  gap: 6rem;
  background: white;
  width: 950px;
  height: 500px;
  border-radius: 30px;
  box-shadow: 0px 17px 27px 0px rgba(0,0,0,0.27);
-webkit-box-shadow: 0px 17px 27px 0px rgba(0,0,0,0.27);
-moz-box-shadow: 0px 17px 27px 0px rgba(0,0,0,0.27);
}

.image__container {
  background-image: url(./images/bg-pattern-desktop.svg);
  background-size: 1000px;
  background-position-x: -607px;
  background-position-y: -320px;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.image__container img {
  position: relative;
  right: 45px;
}

.faq__container {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 50%;
  margin-top: 95px;
}

.questions__accordions {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.question-answer {
  border-bottom: 1px solid var(--light-grayish-blue);
}

.question {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  transition: 0.3s;
  color: var(--very-dark-gray-blue);
}

.question img {
  align-self: center;
}

.answer {
  display: none;
  padding: 0;
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: var(--light-grayish-blue);
}
.attribution a {
  color: var(--soft-red);
  text-decoration: none;
  font-weight: 700;
}

@media screen and (max-width: 375px) {

  main {
    right: 45px;
  }
  .card__container {
    width: 290px;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 1fr;
    gap: 0.5rem;
    position: relative;
    padding: 1rem;
    height: 530px;
    justify-content: center;
  }

  .box {
    top: -250px;
    width: 25%;
  }

  .faq__container {
    align-items: center;
    margin-top: 0;
  }

  .image__container {
    overflow: visible;
    width: 100%;
    top: -80px;
    left: 40px;
  }

  .image__container img {
    width: 250px;

  }

  .questions__accordions {
    width: 300px;
  }
}

:root {
  /* Primary */
  /* Text */
  --very-dark-des-blue: hsl(238, 29%, 16%);
  --soft-red: hsl(14, 88%, 65%);
  /* Neutral */
  /* Text */
  --very-dark-gray-blue: hsl(237, 12%, 33%);
  --dark-gray-blue: hsl(240, 6%, 50%);
  /* Dividers */
  --light-grayish-blue: hsl(240, 5%, 91%);
}
