/* * {
  border: 1px solid red;
} */

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 12px;
  background: rgb(175, 103, 233);
  background: linear-gradient(
    180deg,
    rgba(175, 103, 233, 1) 0%,
    rgba(101, 101, 231, 1) 100%
  );
}

main {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 100px;

}

h1 {
  font-size: 2.2rem;
}

p {
  font-size: 1rem;
}

hr {
  width: 100%;
  background-color: var(--light-grayish-blue);
  border: none;
  height: 1px;
  margin: 0;
}

footer {
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
}

.active > .answer {
  display: block;
  padding-bottom: 1.3rem;
  color: var(--dark-gray-blue);
}

.active img {
  transform: rotate(180deg);
  transition: all 0.1s ease-in;
}


.box {
  position: relative;
  top: 45px;
  left: 0px;
  z-index: 2;
}

.card__container {
  display: flex;
  background: white;
  width: 950px;
  height: 500px;
  border-radius: 30px;
  align-items: center;
  justify-content: center;
}

.questions__accordions {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.image__container {
  background-image: url(./images/bg-pattern-desktop.svg);
  background-size: 1000px;
  background-position-x: -607px;
  background-position-y: -320px;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.image__container img {
  position: relative;
  right: 80px;

}

.faq__container {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 80%;
  padding: 0 100px 0 0;
  top: -5px;
}


.question {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  transition: 0.3s;
  color: var(--very-dark-gray-blue);
}

.question img {
  align-self: center;
}

.answer {
  display: none;
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: var(--light-grayish-blue);
}
.attribution a {
  color: var(--soft-red);
  text-decoration: none;
  font-weight: 700;
}

@media screen and (max-width:375px){
  
}

:root {
  /* Primary */
  /* Text */
  --very-dark-des-blue: hsl(238, 29%, 16%);
  --soft-red: hsl(14, 88%, 65%);
  /* Neutral */
  /* Text */
  --very-dark-gray-blue: hsl(237, 12%, 33%);
  --dark-gray-blue: hsl(240, 6%, 50%);
  /* Dividers */
  --light-grayish-blue: hsl(240, 5%, 91%);
}
